<div class="container">
    <form [formGroup]="formGroup">
        <div class="mb-3">
            <label for="cedula" class="form-label">Cedula</label>
            <input type="number" class="form-control" id="cedula" formControlName="cedula">
        </div>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" formControlName="nombre">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Fecha de Nacimiento</label>
            <input type="date" class="form-control" id="exampleInputPassword1" formControlName="nacimiento">
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Genero</label>
            <select class="form-select" aria-label="Default select example" formControlName="genero">
                <option value="m">Masculino</option>
                <option value="f">Femenino</option>
            </select>
        </div>
        <div class="mb-3" *ngIf="listaMasculina.length > 0">
            <label for="exampleInputPassword1" class="form-label">Padre</label>
            <select class="form-select" aria-label="Default select example" formControlName="papa">
                <option *ngFor="let persona of listaMasculina" [value]="persona.idpersona">{{persona.nombre}}</option>
            </select>
        </div>
        <div class="mb-3" *ngIf="listaFemenina.length > 0">
            <label for="exampleInputPassword1" class="form-label">Madre</label>
            <select class="form-select" aria-label="Default select example" formControlName="mama">
                <option *ngFor="let persona of listaFemenina" [value]="persona.idpersona">{{persona.nombre}}</option>
            </select>
        </div>

        <!-- <div id="dynamicInput[0]">
            <button type="button" class="btn btn-link" (click)="addInput()">Agregar Hijo</button><br><br>
        </div> -->

        <div id="dynamicInput[0]">
            Entry 1<br><input type="text" name="myInputs[]">
            <input type="button" value="+" onClick="addInput();">
        </div>

        <button [disabled]="!formGroup.valid" type="submit" class="btn btn-primary"
            (click)="agregarPersona()">Agregar</button>
    </form>
</div>